:root {
  /* Colorful gradient used in the navigation bar */
  --navGradient: linear-gradient(-90deg, #ff9100 0%, #f10366 50%, #6173ff 100%);
}

/* Body font */
.font-inter {
  font-family: "Inter UI", Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* Used for all titles/labels/buttons  */
.font-metropolis {
  font-family: "Metropolis", Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
}

/* Put CSS Styles Here */
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}

.logo-img {
  height: 2.5rem;
  margin: 1rem 1rem 1rem 2rem;
}

.navbar-links {
  height: 100%;
  width: 0%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  /* border-bottom: 1px solid var(--navGradient); */
  text-align: center;
  padding-bottom: 5px;
  background: var(--navGradient) left bottom #333 no-repeat;
  background-size: 100% 2px;
}

.container {
}
.grid-icon {
  display: inline-block;
  /* margin: 2rem; */
}

.grid-icon:hover > span > span {
  opacity: 0.8;
}

.grid-icon > .layer {
  width: 100%;
  position: absolute;
  left: 0;
}
.grid-icon--fill {
  position: relative;
  width: 26px;
  height: 26px;
  margin-left: 0;
}

.grid-icon--fill > .layer {
  width: 100%;
  height: 6px;
}

.grid-icon--fill > .layer--primary {
  top: 0;
}

.grid-icon--fill > .layer--secondary {
  top: 50%;
  margin-top: -3px;
}

.grid-icon--fill > .layer--tertiary {
  bottom: 0;
}

.grid-icon--fill > .layer > span {
  position: relative;
  display: block;
  width: 6px;
  height: 100%;
  background-color: #fff;
}

.grid-icon--fill > .layer > span {
  left: 0;
  margin-left: -3px;
}

.grid-icon--fill > .layer > span:before {
  display: block;
  content: "";
  width: 6px;
  height: 100%;
  background-color: #fff;
  left: -10px;
  position: absolute;
}

.grid-icon--fill > .layer > span:after {
  display: block;
  content: "";
  width: 6px;
  height: 100%;
  background-color: #fff;
  right: -10px;
  position: absolute;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}
